@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

html
{
    width:100%;
}
body
{
    background: rgb(168,218,220);
    background: radial-gradient(circle, rgba(168,218,220,1) 0%, rgba(241,250,238,1) 100%);
}